/RemoteCtrl/.vs
/RemoteCtrl/.vs/RemoteCtrl/CopilotIndices/17.14.1091.29919/CodeChunks.db
/RemoteCtrl/.vs/RemoteCtrl/CopilotIndices/17.14.1091.29919/SemanticSymbols.db
/RemoteCtrl/.vs/RemoteCtrl/CopilotIndices/17.14.1577.30250/CodeChunks.db
/RemoteCtrl/.vs/RemoteCtrl/CopilotIndices/17.14.1577.30250/SemanticSymbols.db
/RemoteCtrl/RemoteCtrl/RemoteCtrl.vcxproj.user
/RemoteCtrl/RemoteClient/RemoteClient.vcxproj.user
/RemoteCtrl/RemoteClient/RemoteClient.aps
